body {
    background-color: #ddddff;
}

.Sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.Nav-Scrolled {
    background-color: #121299;
}

.float-left {
    float: left;
}

.float-left::after {
    clear: both;
}

.clear {
    clear: both;
}

.Screen-Height {
    height: 100vh;
}

h3.Section-Heading {
    text-align: center;
    padding: 2%;
    margin: 2%;
    border: #121299 solid;
    border-radius: 1rem 0rem 1rem 0rem;
    border-collapse: collapse;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.Half-Screen{
    height: 25vh;
}

#Home {
    color: #ddddff;
    background-image: url("../images/Bg2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: fill;
    text-align: center;
    font-family: 'MuseoModerno', cursive;
}

#Services {
    padding: 2%;
}

#Previous-Work {
    padding: 2%;
}

#My-Moto {
    padding: 2%;
}

#Contact {
    padding: 2%;
}

@media only screen and (max-width: 768px){
    .Screen-Height {
        height: auto;
    }
}

@media only screen and (max-width: 576px){
    h1{
        font-size: 30px;
    }
}